body,
ul, 
li, 
p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: sans-serif;
    list-style: none;
    color: #333;

}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #FFF;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    max-width: 700px;
    box-sizing: border-box;
    /* display: flex;  */
    position: relative;
    top: -65px; 
    margin: 0 auto; 
    flex: 0 1 auto;
}

h2 {
    text-align: center;
    margin: 40px 0 10px 0;
}

img {
    /* Máimo de 100% do container */
    max-width: 100%;
    display: block;
    align-self: end;
}


.header {
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    
}

.header img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;   
}

.menu {
    display: flex;
   
}

.menu li {
    margin-left: 10px;  
}

 .menu li a {
    display: block;
    padding: 10px;
    border-bottom: 3px solid #222;
}

.menu li a:hover {
    border-bottom: 3px solid #FF0000;
} 


/* Banner Full */
.full-banner {
    /* background-image: url(../images/banner.jpg); */
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    float: none;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.galeria > div {
    margin: 10px;
    flex: 1 1 200px;
}

section {
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 30%;
    min-height: 30%;
    display: flex;
}

footer {
    background-color: #222;
    margin-top: 30px;
    padding: 30px 20px;
}

footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #999;
    text-align: center;
}